@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .TextAlignLast {
    text-align-last: justify;
  }
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper .swiper-pagination-bullet-active {
  transform: scale(2);
  transform-origin: center;
}

.swiper [class^="swiper-button-"]::after {
  font-size: 24px;
}
